body{
    background-color: beige;
    margin: auto;
    margin-top: 1vh;
    
}

.menu{
    display:flex;
    width: 100%;
    font-size: 200%;
    max-width: 100%;
    position:static;

}

.cuerpo{
    padding-top: 2vh;
    padding: 100px;
}

a{
    background-color: rgb(255, 174, 0);
    padding: 1vh;
    color: rgb(255, 255, 255);
    text-decoration:NONE;
    padding-left: 7%;
    padding-right: 6%;
    border-radius: 0px;
    
}

a:hover{
    background-color: rgb(255, 254, 190);
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(223, 50, 7);
    font-size: 410%;
}

h2{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(243, 76, 9);
    font-size: 250%;

}



p{
    text-align: justify;
    font-family:cursive;
    font-size: 120%;
}

.img{
    max-width: 20%;;
    height: auto;
    align-items: center;
    size: 1%;
}

h3{
    text-align: center;
}

ul{
    text-align: justify;
    font-family:cursive;
    font-size: 120%;
}